button, input {
    margin: 10px;
    padding: 10px;
}

li {
    padding: 5px;
}

li:nth-of-type(2n) {
    background-color: #e0e0e0;
    color: #000;
}

li:nth-of-type(2n-1) {
    background-color: #909090;
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.whiteh1 {
    color: white;
}

.link:hover {
    color: blue;
    cursor: pointer;
}